body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* "scripts": {
  "dev": "react-scripts start",
  "start": "serve -s build",
  "build": "react-scripts build",
  "test": "react-scripts test --env=jsdom",
  "eject": "react-scripts eject",
  "heroku-postbuild": "npm run build"
  } */

  /* "scripts": {
    "start": "react-scripts start",
    "heroku-postbuild": "webpack -p",
    "build": "react-scripts build",
    "test": "react-scripts test",
    "eject": "react-scripts eject"
  }, */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.parallax {
  
  /* The image used */
  background: url("https://www.dropbox.com/s/z1t1t6ios32yh8g/Untitled%20design%20%281%29.jpg?raw=1");
  /* Set a specific height */
  height: 100vh;
  padding-top:35px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: 100%; 
  -moz-background-size: 100%; 
  -o-background-size: 100%; 
  background-size: 100%; 
  -webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover; 
  background-size: cover;
}
.secondParallax {
  background: url("https://www.dropbox.com/s/xhbfojcpcvkvlgb/I%20WANT%20TO%20%285%29.png?raw=1");
  /* Set a specific height */
  height: 100vh;
  padding-top:35px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}
.relative {
  position: relative;
  height:100%;
}
.thirdParallax {
  background-color:white;
  /* Set a specific height */
  height: 100vh;
  padding-top:35px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
}
.thirdParallax h1 { padding-top:55px;font-size:46px !important;letter-spacing:9px;}
.flex {
  width:100%;
  justify-content: center;
  text-align: center;
  display:flex;
  font-size:26px;
}
.flex div {
  padding:7px;
  cursor: pointer;
  text-decoration: underline;
}
.flexMe {
  font-size:14px;
  color:white;
  display: flex;
  justify-content:center;
  width:100%;
  text-align:center;
  flex-wrap: wrap;
}
.flexMe div {
  max-width:165px;
  padding:7px;
  cursor:pointer;
}
.flexMe div:hover {
  color:black;
}
.flexMeMain {
  display: flex; 
  width:100%;
  justify-content:center;
}
.flexMeMainDiv {
  width:33%;
  max-width:33%;
}
.logoMain {
  color:white;
  font-size:30px;
  padding:7px;
}
.logoTop {
  position: absolute;
  color:black;
  z-index: 1;
}
.logoBottom {
  position: absolute;
  color:white;
  z-index:2;
  margin-top:12px;
  margin-left:12px;
}
.stuff {
  height:525px;background-color:white;padding-top:100px;font-size:28px;text-align:center;
}
.childStuff {
  color:#919668;
  height: 325px;
  cursor:pointer;
  width:100%;
  position: relative;
  background: linear-gradient(276deg, #f0fbb8, #d9dd32, #f0f2ab);
  background-size: 100% 100%;
  -webkit-animation: AnimationName 25s ease infinite;
  -moz-animation: AnimationName 25s ease infinite;
  -o-animation: AnimationName 25s ease infinite;
  animation: AnimationName 25s ease infinite;
  letter-spacing:8px;
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
}
.childHead {font-size:100px !important;;margin-bottom:5px;padding-top:60px;}
.childHeadChild { font-size:40px;text-decoration:underline;margin:0;letter-spacing:4px;}
.childMeGain {
  margin: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index:2;
  transform: translate(-50%, -50%);
  height:150px;
  width:500px;
  cursor: pointer;
}
.AbsoluteCenterDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 a {
  text-decoration: none !important;
  outline: none !important;
  color:inherit !important;
}

.HomeWatchNowButton {
  width:225px;
  height:60px;
  border:1px solid white;
  border-radius:2px;
  font-size:12px;
  background-color: transparent;
  color:white;
}
.right {
  text-align:right;
}
.HomeWatchNowButton:hover {
  background-color: white;
  color:black;
}
.homeSecondaryBtn {
  width:130px;
  height:45px;
  margin:10px;
  border:1px solid white;
  border-radius:2px;
  font-size:14px;
  background-color: transparent;
  color:white;
}
.homeSecondaryBtn:hover {
  background-color: white;
  color:black;
}